/* Сперва общие правила */

* {
    box-sizing: border-box
}

/* Потом селекторы по тегам */

main {
    width: 300px;
    margin: 0px auto;
    border-radius: 10px;
    font-family: Arial
}


/* Колонки */

.row {
    display: flex;
}

.col {
    flex: auto;
}


/* Потом селекторы по классам */

.text-input {
    margin: 7px 0px;
    padding: 5px 5px;
    width: 100%;
}

.button {
    text-decoration: none;
    background-color: #554AF0;
    color: ghostwhite;
    padding: 7px 15px;
    margin: 10px 0px;
    border-radius: 5px;
}

/* Потом специальные правила по страничкам */

/* Login*/

.input-login {
    margin: 7px 0px;
    padding: 5px 5px;
    width: 100%;
}


/* Страничка жанров и тегов */
.genre {
    margin: 10px 0px;
    padding: 10px 15px;
}

.genre-first {
    background-color: #E1F5EA;
    width: 100%;
}

.genre-second {
    background-color: #CBEDFF;
    width: 70%;
}

.genre-third {
    background-color: #EBDCF9;
    width: 50%;
}

.genre-fourth {
    background-color: blanchedalmond;
    width: 30%;
}

/* Страничка популярного */

.cover {
    padding: 10px 10px;
}

/* Страничка подписки  */

.subs {
    margin: 20px 0px;
    padding: 5px 15px;

}

.subs-month {
    background-color: #E1F5EA;
}

.subs-year {
    background-color: #EBDCF9;
}

.button-link {
    flex: auto;
}

.checkbox {
    /*position: relative;*/
    width: 14px;
    height: 14px;
    margin: 10px 0px;
}